/*MARGENES Y PANTALLA*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*ESTE ES EL FORMATO PARA AJUSTARSE CON LA PANTALLA*/
}

/*MENU Y ENCABEZADO*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}

header.abajo {
    background: #fff;
    padding: 15px 20px;
}

header.abajo .logo,
header.abajo ul li a {
    color: rgb(0, 0, 0);
}

header .logo {
    left: -10%;
    position: relative;
    color: #2a6068;
    text-shadow: 0.9px 1px #aaaaaa;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;

}

nav {

    display: block;
    justify-content: center;
    align-items: center;

}

nav li a {
    left: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li a:hover {
    padding: 11px;
    background-color: rgba(0, 0, 0, 0.322);

}

nav>li {
    float: left;
}

nav li ul {
    display: none;
    position: absolute;
    min-height: 140px;
}

nav li:hover>ul {
    display: block;
}


header ul {
    left: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    list-style: none;
}

header ul li a {
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #2a6068;
    text-shadow: 0.9px 1px #aaaaaa;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

/*FORMATO GENERAL PARA SECCIONES*/
section {
    height: 760px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}

/*SECCION 1*/
section:nth-child(2) {
    background-image: url("../Imagenes/fondo_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 80px;
    font-family: Consolas;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #FF0000;
    white-space: nowrap;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-right: 10px solid #ffffff;
    animation: typing 4s steps(30) 1s 1 normal, blink 1s steps(1) infinite alternate-reverse;
}

@keyframes typing {

    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/*BOTON SECCION 1*/
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;

}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.btn {
    position: absolute;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before {
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btn1::before {
    width: 100%;
    height: 0%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn1:hover::before {
    height: 380%;
}

section a { 
    display: block;
    padding: 7px 0;
    text-decoration: none;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*SECCION 2*/
section:nth-child(3) {
    background-image: linear-gradient(15deg, #13547a 0%, #8c80d0 100%);
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}
.box-container .box {
    height: 12rem;
    width: 20rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

/*TEXTO*/
p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

p2{
    margin-bottom: 20px;
    
    text-align: justify;
    color: #fff;
    
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    font-size: 20px;
    color: #ffffff;
    line-height: 24px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.body-post p {
    font-size: 16px;
    color: #101828;
    line-height: 24px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau {
    padding: 30px;
    background: #1f1d1d
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.about {
    background: #171717;
}

/*FORMATO PARA SECCION 3, 4 Y CONTACTOS*/
section:nth-child(4) {
    background-image: linear-gradient(15deg, #304450 0%, #5548a4 100%);
}

section:nth-child(5) {
    background-image: linear-gradient(15deg, #1b76ab 0%, #bd55bf 100%);
}

section:nth-child(6) { 
    /*Este es fondo de contactos, cuando esten listas sus partes subanle un index a esta*/
    background-image: url("../Imagenes/fondo_contactos.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*CONTACTOS*/
.box1
{
    width: 200px;
    height: 200px;
    background-image: url(../Imagenes/jeremy.JPG);
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: calc(auto);
    left: 10%;
}

.box1 ul 
{
    display: block;
    text-align: center;
    position: absolute;
    top: 180%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.box1 ul li
{
    margin: 10px;
    list-style: none;
    font-family: 'Consolas';
    font-size: 20px;
    transition: .5s;
}

.box1 ul li a
{
    
    text-decoration: none;
    text-align: right;
    width: 60px;
    padding: 16px 0;
    display: flex;
    color: rgb(255, 255, 255);
}

#secfinal ul li:hover
{
    transform: translateY(-8px);
}

.box2
{
    width: 200px;
    height: 200px;
    background-image: url(../Imagenes/marlow.jpg); /*Aqui tienen que remplazar con su foto*/
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: calc(auto);
    left: 43%;
}

.box2 ul 
{
    display: block;
    text-align: center;
    position: absolute;
    top: 180%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.box2 ul li
{
    margin: 10px;
    list-style: none;
    font-family: 'Consolas';
    font-size: 20px;
    transition: .5s;
}

.box2 ul li a
{
    text-decoration: none;
    text-align: right;
    width: 60px;
    padding: 16px 0;
    display: flex;
    color: rgb(255, 255, 255);
}

.box3
{
    width: 200px;
    height: 200px;
    background-image: url(../Imagenes/jhona.jpg); /*Aqui tienen que remplazar con su foto*/
    background-size: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: calc(auto);
    left: 75%;
    
}

.box3 ul 
{
    display: block;
    text-align: center;
    position: absolute;
    top: 180%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.box3 ul li
{
    margin: 10px;
    list-style: none;
    font-family: 'Consolas';
    font-size: 20px;
    transition: .5s;
}

.box3 ul li a
{
    text-decoration: none;
    text-align: right;
    width: 60px;
    padding: 16px 0;
    display: flex;
    color: rgb(255, 255, 255);
}

h4
{
    margin: 5px;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    text-align: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: times 'Times New Roman';
    color: #ffffff;
    
}

table{
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

#sec3 .title1 {
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    text-align: center;
    justify-content: space-evenly;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-right: 10px solid #ffffff;
}

/*SCROLL*/
html {
    scroll-behavior: smooth;
}

/*TODO LO QUE COMIENCE POR @ SON LOS TIEMPOS, ANIMACIONES,
TRANSICIONES ETC DE LA PAGINA*/

@media screen and (max-width: 1000px) {
    section {
        flex-direction: column-reverse;
        justify-content: center;
    }

    section>img {
        height: 40%;
    }

    .contenedor-texto {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .section>img {
        height: 25%;
    }
}